/* CSS for jQuery CCSlider Plugin 3.0.1
 * Copyright 2012, Nilok Bose  
 * http://codecanyon.net/user/cosmocoder
*/


/* Styles for slider div and images */

.ccslider {
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	width: 1040px;
	height: 400px;
}

.slider-innerWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider-innerWrapper img {
	position: absolute;
	top: 0;
	left: 0;
	visibility: visible !important;
	max-width: 100%;
}


/* Styles for next/prev and play/pause buttons */
a.slider-nav {
	position: absolute;	
	top: 50%;
	z-index: 200;	
	cursor: pointer;
	display: none;	
}

.slider-nav.prev {	
	left: 0;
}

.slider-nav.next {	
	right: 0;
}

.ccslider:hover .slider-nav {
	display: block;
}

.slider-timer {	
	position: absolute;	
	right: 20px;	
	top: 20px;
	z-index: 200;	
	cursor: pointer;
	display: none;
}

.ccslider:hover .slider-timer {
	display: block;
}



/* Styles for the control links */
.control-links {
    position: absolute;
    z-index: 200;
    list-style: none;
	margin-top: 30px;
	
	text-align: right;
	line-height: 0;
	padding-bottom: 0;
	padding-right: 18px;
	padding-left: 0;
	top: 97%;
	right: 15px;
}

.control-links li {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;    
    background: #969696;
    width: 15px;
    text-align: center;
    height: 17px;
	zoom: 1;
	*	/* for IE6, IE7 */
	font-size: 6px;
	color: white;
	padding-right: 2px;
}

.control-links li:first-child {
	margin-left: 0;
}

.control-links li.active {
    background: #00b8e9;
}

.control-links li.linkThumb {
	width: auto;
	height: auto;
	position: relative;
	text-indent: 0;
	background: transparent none;
	-moz-transition: all 400ms ease;
	-webkit-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
}

.control-links li.linkThumb.active {
	background: transparent none;
	z-index: 1;
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.control-links li.linkThumb img {
	display: inline !important;
	visibility: visible !important;
}

.ccslider.controlThumbs {
	margin-bottom: 100px;
}


/* Caption styles */
.cc-caption {
	display: none;
}

.slider-caption {
	background: #000;
    background: rgba(0, 0, 0, 0.7);
    z-index: 101;
    color: #fff;
    padding: 10px 80px 10px 30px;
    font-size: 15px;
    position: absolute;
	overflow: hidden;
	display: none;
}
.slider-caption span{
	color: white;
	margin-left: 5px;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: -1px;
}
.slider-caption.bottom {
	left: 0;
	right: 0;
    bottom: 0;
}

.slider-caption.top {
	left: 0;
	right: 0;
    top: 0;
}

.slider-caption.left {
	left: 0;
	top: 0;
    bottom: 0;
	width: 100px;
}

.slider-caption.right {
	right: 0;
	top: 0;
    bottom: 0;
	width: 100px;
}


/* Containers for custom HTML content */
.cc-htmlwrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
} 

.cc-html {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.cc-html img {    /* This ensures that images inside custom html content are visible */
	visibility: visible !important;
}


/* Styles for links placed on slide images */
.slider-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: url(about:blank);  /* hack to fix a bug in IE, to make the anchor tag clickable. Can use any fake image url */
}

/* position the canvas elements for 3d effect */
.ccslider canvas {
	position: absolute;
	top: 0;
	left: 0;
}


/* Styles for elements used in 2d animations */
.wipe-div {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 0;
	height: 0;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}


.split1-div, .split2-div {
	position: absolute;
	z-index: 4;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}

.circle-div {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	width: 0;
	height: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.clock-mask {
	position: absolute;
	top: 0;
	z-index: 3;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.clock-mask.left {
	left: 0;
}

.clock-mask.right {
	right: 0;
}

.clock-outer {
	position: absolute;
	top: 50%;
	overflow: hidden;
}

.left .clock-outer {
	-moz-transform-origin: left center;
	-webkit-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}

.right .clock-outer {
	-moz-transform-origin: right center;
	-webkit-transform-origin: right center;
	-o-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
}

.clock-inner {
	position: absolute;
	top: 50%;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}

.left .clock-inner {
	left: -50%;
}

.right .clock-inner {
	left: 50%;
}
