/* @override http://www.lensar.com/ascrs2014/css/base.css */

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; 
		}
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #000;
		font: 12px Helvetica, Arial, sans-serif;
		line-height: 20px;
		color: #555;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		overflow-x: hidden; }
	html {
		overflow-x: hidden; }

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #000;
		font-family: "MuseoSans500", sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; color: #a0c800;
}
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 20px;}
	h2 { font-size: 28px; line-height: 40px; margin-bottom: 0px;
	margin-top: 25px;
	color: #0070a0;
}
	h3 { font-size: 25px; line-height: 34px; margin-bottom: 20px; }
	h4 { font-size: 18px; line-height: 30px; margin-bottom: 10; }
	h5 { font-size: 20px; line-height: 26px; margin-bottom: 10px;
	color: #a0c800;
	font-weight: bold;
	margin-top: 10px;
}
	.aaoh3 { font-size: 25px; line-height: 34px; margin-bottom: 0px; }
	.aaoh4 { font-size: 18px; line-height: 30px; margin-bottom: 0; }
	.aaoh5 { font-size: 18px; line-height: 30px; margin-bottom: 0;
		margin-top: 10px;
	}
	h6 { font-size: 14px; line-height: 21px; margin-bottom: 10px; }
	h7 {
		color: white;
		font-weight: bold;
		font-size: 14px;
		line-height: 14px;
	}
	h9 {
		color: white;
		font-size: 12px;
		line-height: 12px;
	}
	.subheader { color: #777; }
	h5.teaserheadline {  padding-bottom: 9px; color: #0070a0; font-size: 18px; line-height: 13px; font-weight: bold; font-style: normal; margin-bottom: 13px; text-transform: uppercase; }
	h5.teaserheadline img { float: left; margin-right: 5px; }
	
	.teamtopline { text-align: center; font-size: 12px; font-weight: bold; color: #000; line-height: 12px; width: 100%; margin-top: 10px; margin-bottom: 5px; }
	.teamsubline { text-align: center; font-size: 11px; line-height: 16px; margin-bottom: 10px; color: #777; font-style: italic; width: 100%; }
	
	.highl { font-size: 12px; text-decoration: none; color: #fff; background-color: #a0c800; padding-bottom: 2px; padding-top: 3px; padding-left: 5px; padding-right: 5px;}
	.highl_yellow { font-size: 12px; text-decoration: none; color: #fff; background-color: #faaa0a; padding-bottom: 2px; padding-top: 3px; padding-left: 5px; padding-right: 5px;}
	.highl_red { font-size: 12px; text-decoration: none; color: #fff; background-color: #d93b21; padding-bottom: 2px; padding-top: 3px; padding-left: 5px; padding-right: 5px;}

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	img.left { float: left; margin-bottom: 15px; margin-right: 15px;}
	img.right { float: right; margin-bottom: 15px; margin-left: 15px;}
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }
	sup {
		font-size: 8px;
		position: relative;
		bottom: 4px;
	}

/*	Blockquotes  */
	blockquote, blockquote p {
		color: #0070a0;
	font: italic 22px/26px EBGaramondRegular, Georgia, "Times New Roman";
}
	blockquote { margin: 0 0 20px; padding: 0 0 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; margin-top: 5px; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
/* Text Selection */

	::selection {
		color: #fff; /* Safari */ background-color: #a0c800;
}
	::-moz-selection {
		color: #fff; /* Firefox */ background-color: #a0c800;
}


/* #Links
================================================== */
	a, a:visited { color: #a0c800; text-decoration: none; outline: 0; }
	a:hover, a:focus { /*color: #000;*/ }
	p a, p a:visited { line-height: inherit; }
	a.link, .lighti { font-size: 12px; font-weight: normal; text-decoration: none; color: #777; font-style: italic; }
	a.linkbg { font-size: 12px; text-decoration: none; color: #fff;
	padding-bottom: 2px; padding-top: 3px; padding-left: 5px; padding-right: 5px;}
	a.titlelink { font-size: 11px; font-weight: normal; text-decoration: none; color: #999; font-style: normal; }
	a.link span, a.link:visited span { font-size:13px; line-height:12px; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 20px; }
	ul.square { list-style: square outside; color: #555; }
	ul.circle { list-style: circle outside; color: #555; }
	ul.disc { list-style: disc outside; color: #555; }
	ul.check { list-style: none; }
	ul.check li { background: url('../images/tiles/check.png') no-repeat; padding-left: 25px; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 0px; font-size: 100%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 22px; margin-bottom: 12px;}
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	a.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		/*-moz-border-radius: 3px; 
		-webkit-border-radius: 3px;
		border-radius: 3px; 
		background: #777; 
		border: 0;
		border-bottom: 1px solid #444;
		text-shadow: 0px 1px 0px #444;
		padding-left: 13px; padding-right: 13px; padding-top: 5px; padding-bottom: 5px;
		color: #fff;
		display: inline-block;
		font-size: 11px;
		font-weight: normal;
		font-style: italic;
		text-decoration: none;
		cursor: pointer;
		line-height: 20px;
		font-family: Helvetica, Arial, sans-serif; */
		background-color: #F3F3F3;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3F3F3), color-stop(50%, #DDD), color-stop(50%, #D2D2D2), color-stop(100%, #DFDFDF));
		background-image: -webkit-linear-gradient(top, #F3F3F3 0%, #DDD 50%, #D2D2D2 50%, #DFDFDF 100%);
		background-image: -moz-linear-gradient(top, #F3F3F3 0%, #DDD 50%, #D2D2D2 50%, #DFDFDF 100%);
		background-image: -ms-linear-gradient(top, #F3F3F3 0%, #DDD 50%, #D2D2D2 50%, #DFDFDF 100%);
		background-image: -o-linear-gradient(top, #F3F3F3 0%, #DDD 50%, #D2D2D2 50%, #DFDFDF 100%);
		background-image: linear-gradient(top, #F3F3F3 0%, #DDD 50%, #D2D2D2 50%, #DFDFDF 100%);
		border-right: 1px solid #DFDFDF;
		border-bottom: 1px solid #B4B4B4;
		border-right: 1px solid #DFDFDF;
		border-radius: 5px;
		-webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #D5D5D5, 0 -1px 2px 1px #EFEFEF;
		box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #D5D5D5, 0 -1px 2px 1px #EFEFEF;
		color: #666;
		font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
		margin: 0;
		padding: 7px 10px;
		text-shadow: 0 1px 1px white;
		
		}
 
	a.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
	  color: #a0c800;
	  background: #fff; }

	a.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
	  color: #fff;
	   
	  /*-moz-box-shadow: inset 0px 0px 0px 1px #fff;
	  -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
	  -box-shadow: inset 0px 0px 0px 1px #fff;*/background-color: #a0c800;
  }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }
	a.button span {
		font-size:13px;
		line-height:11px;
	}



/* #Tabs (activate in tabs.js)
================================================== */
	ul.tabs {
		display: block;
		margin: 0;
		padding: 0;
		border-bottom: solid 1px #ddd; }
	ul.tabs li {
		display: block;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0; }
	ul.tabs li a {
		display: block;
		text-decoration: none;
		width: auto;
		height: 29px;
		padding: 0px 20px;
		line-height: 30px;
		border: solid 1px #ddd;
		border-width: 1px 1px 0 0;
		margin: 0;
		background: #eee;
		font-size: 12px;
		color: #777; }
	ul.tabs li a.active {
		background: #fff;
		height: 30px;
		position: relative;
		top: 0px;
		padding-top: 0px;
		border-left-width: 1px;
		margin: 0 0 0 -1px;
		color: #333;
		font-weight: bold;}
	ul.tabs li:first-child a.active {
		margin-left: 0; 
		-moz-border-radius-topleft: 3px;
		-webkit-border-top-left-radius: 3px;
		border-top-left-radius: 3px;
		}
	ul.tabs li:first-child a {
		border-width: 1px 1px 0 1px;
		-moz-border-radius-topleft: 3px;
		-webkit-border-top-left-radius: 3px;
		border-top-left-radius: 3px; }
	ul.tabs li:last-child a {
		-moz-border-radius-topright: 3px;
		-webkit-border-top-right-radius: 3px;
		border-top-right-radius: 3px; }

	ul.tabs-content { margin: 0; display: block; border: solid 1px #ddd; border-top: 0; background: #fff; padding: 20px; padding-top: 30px; padding-bottom: 0; margin-bottom: 30px; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }

#mc_embed_signup{
	margin-top: 30px;
}

form {
		
		margin-bottom: 0px; }
	fieldset {
		margin-bottom: 20px;
		/*width: 330px;*/
		text-align: right;
	}
	label,
	legend {
		
		font-size: 13px;
		font-weight: bold;
		position: relative;
		float: right;
		margin: 0 10px 0 0 !important;
		top: 10px !important;
	}
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ddd;
		padding: 10px 10px !important;
		outline: none;
		overflow: hidden;
		font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0 0 0px !important;
		width: 198px;
		max-width: 100%;
		display: block;
		background: #eee; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #bbb;
 		color: #555;
	}
	textarea {
		min-height: 100px; }
	select {
		width: 220px; }
	input, textarea {  
	    padding: 9px;  
	    border: solid 1px #E5E5E5;  
	    outline: 0;  
	     

	    background: #FFFFFF url('bg_form.png') left top repeat-x;  
	    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
	    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
	    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
		margin: 0 0 10px 10px !important;
	}
	form tr{
		position: relative;
		clear: left;
		height: 50px;
	}
	
	style {
		
	}
	
	textarea {  
	    width: 400px;  
	    max-width: 400px;  
	    height: 150px;  
	    line-height: 150%;  
	    }  
	input:hover, textarea:hover,  
	input:focus, textarea:focus {  
	    border-color: #a0c800;  
	    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
	    }  
	.form label {  
	    margin-left: 10px;  
	    color: #999999;  
	    }  
	.submit input {  
	    width: auto;  
	    padding: 9px 15px;  
	    background: #617798;  
	    border: 0;  
	    font-size: 14px;  
	    color: #FFFFFF;  
	    -moz-border-radius: 5px;  
	    -webkit-border-radius: 5px;  
	    }  
		
	/* Sidebar Forms */
		
	.sidebar input[type="text"],
	.sidebar input[type="password"],
	.sidebar input[type="email"],
	.sidebar textarea,
	.sidebar select {
		border: 1px solid #ddd;
		padding: 10px 10px;
		outline: none;
		overflow: hidden;
		font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 198px;
		max-width: 100%;
		display: block;
		margin-bottom: 10px;
		background: #eee; }
	.sidebar select {
		padding: 0; }
	.sidebar input[type="text"]:focus,
	.sidebar input[type="password"]:focus,
	.sidebar input[type="email"]:focus,
	.sidebar textarea:focus {
		border: 1px solid #bbb;
 		color: #555;
	}
	.sidebar textarea {
		min-height: 100px; }
	.sidebar select {
		width: 220px; }

	/* Footer Forms */

	.footer input[type="text"],
	.footer input[type="password"],
	.footer input[type="email"],
	.footer textarea,
	.footer select {
		border: 1px solid #4e4e4e;
		padding: 10px 10px;
		outline: none;
		overflow: hidden;
		font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #999999;
		margin: 0;
		width: 198px;
		max-width: 100%;
		display: block;
		margin-bottom: 10px;
		background: #3e3e3e; }
	.footer select {
		padding: 0; }
	.footer input[type="text"]:focus,
	.footer input[type="password"]:focus,
	.footer input[type="email"]:focus,
	.footer textarea:focus {
		border: 1px solid #ccc;
 		color: #ccc;
	}
	.footer textarea {
		min-height: 100px; }
	.footer select {
		width: 220px; }
	
	/* Header Responsive Menu Form Style */
	
	.header form {
		float: left;
		height: 100%;
		position: relative;
		margin-bottom: 21px; }
		
	.header	select { 
		-webkit-appearance: none;
		border: 1px solid #ddd;
		padding: 10px;
		outline: none;
		overflow: hidden;
		font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #555;
		margin: 0;
		width: 100%; 
		max-width: 100%;
		display: block;
		background: #fff url('../images/tiles/navselect.gif') no-repeat right center;
	}
	
	.header	option { 
		outline: none;
		border: 0;
		overflow: hidden;
		font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #555;
		margin: 0;
		width: 100%; 
		max-width: 100%;
		display: block;
		padding-left: 15px;
	}
		

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.left { float: left; }
	.right { float: right; }



