/* @override http://lensarstaging.get2square1.com/ascrs2014/css/screen.css */


@font-face {
    font-family: 'EBGaramondRegular';
    src: url('EBGaramond-webfont.eot');
    src: url('EBGaramond-webfont.eot?#iefix') format('embedded-opentype'),
         url('EBGaramond-webfont.woff') format('woff'),
         url('EBGaramond-webfont.ttf') format('truetype'),
         url('EBGaramond-webfont.svg#EBGaramondRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSans500';
    src: url('MuseoSans_500-webfont.eot');
    src: url('MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans_500-webfont.woff') format('woff'),
         url('MuseoSans_500-webfont.ttf') format('truetype'),
         url('MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;

}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,300,300italic);



	.main { padding-bottom: 0px;
		width: 1040px;
		background: url(../images/aboutHeader.jpg) repeat-x 0 120px;
	}
	.fullBg { position: fixed; top: 0; left: 0; overflow: hidden; }

	#background { position: fixed; z-index: -1; top: 0; left: 0; overflow: hidden; display: none; }

/* Background */	
	
	.poswrapper { width: 0; margin: 0 auto; height: 100%; overflow: visible; }
	.poswrapper.wide { width: 100%; margin-left: 0; margin-right: 0; height: 100%; overflow: visible; }
	/*.whitebackground { position: fixed; top: 0; left: 50%; z-index: -1; width: 1040px; height: 100%; margin-left: -520px;
		
	background-color: rgba(0, 0, 0, 0.02);
}*/
	.whitebackground { position: fixed; top: 0; left: 50%; z-index: -1; width: 1040px; height: 100%; margin-left: -520px;
			
		background-color: white;
	}
	.whitebackground.full { position: fixed; top: 0; z-index: -1; width: 100%; height: 100%; left: 0; margin-left: 0px; background: #f5f5f5; }
	.tiledbackground { position: fixed; z-index: -1; width: 100%; height: 100%; left: 0; top: 0; background: url('../images/BG.jpg') no-repeat center top; }
	
/* Header */

	.poswrapheaderline { z-index: 0; width: 0px; margin-left: auto; margin-right: auto; height: 100%; overflow: visible; position: relative; }
	.poswrapheaderline.wide { z-index: 0; width: 100%; margin-left: 0; margin-right: 0; height: 100%; overflow: visible; position: relative; }
	.headerline { position: absolute; z-index: 2; width: 1040px; height: 110px; margin-left: -520px; top: 0;
		background-color: #111;
	}
	.headerline.full { position: absolute; z-index: 2; width: 100%; height: 90px; left: 0; margin-left: 0; top: 0; background: #111; }
	.header { padding-top: 0; padding-bottom: 0; margin-bottom: 0; }
	.logo { background: url('../images/logo.png') no-repeat left center; float: left; height: 110px; width: 240px; position: relative; z-index: 15; }
	.mainmenu { float: right; font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #999; height: 110px;}
	.toptextline { text-align: left; position: absolute; z-index: 2; top: 91px; }
	.pagetitle { position: relative; z-index: 1;
		margin-top: 0px; margin-bottom: 0px;
		border-bottom: 1px solid #0070a0; width: 1040px; margin-left: -40px; padding-top: 15px; padding-bottom: 0px; border-top: 3px solid #0070a0;
	background-color: #0070a0;
	color: white;
	display: inline;
	float: right;
}
	.doctor-finder-field {
		float: left;
		height: 24px;
		font-size: 14px;
	}
	.searchBtn {
		float: right;
		
		vertical-align: center;
	}
	.pagetitleholder { float: left; display: inline; width: 960px; padding-left: 50px; padding-right: 20px; vertical-align: center;
		text-align: center;
	}
	.socialholder { float: right; width: 0px; text-align:center; padding-right: 50px; margin-top: 5px; vertical-align: top; }
	.pagetitle h1 { float: left; font-size: 18px; line-height: 30px; color: white;
	margin-top: 2px; width: 100%; position: relative; z-index: 1; }
	

/* Dividers */

	.divide { height: 30px; margin-bottom: 23px; margin-top: 27px; }
	.divide.notop { margin-top: -8px; }
	.dividerline { position: absolute; z-index: 0; width: 940px; height: 0px; border-bottom: 1px solid #ddd; margin-top: 32px; }
	.titledivider { position: absolute; z-index: 1; }
    .divide h3 { font-size: 13px; font-weight: bold; width: 100%; text-transform: uppercase; }
	.noheadline { height: 20px; }
	.bottomadjust { padding-bottom: 40px; }
	.divide .rightlink{  position: relative; float: right; padding-left: 10px; margin-top: 7px; z-index: 1; }
	
/* Slider */

	.homeslider { float: right; display: inline; width: 1040px; margin-left: -40px; border-bottom: 3px solid #0070a0;
		background-color: #13232f;
		overflow: hidden;
	}
	.sliderspacefix { float: left;  margin-bottom: 12px;  }
	.nosliderspacer { float: left; height: 20px; }
	.slidertext h6, .slidertext h5, .slidertext h4, .slidertext h3, .slidertext h2, .slidertext h1 { margin-top: -7px; } 
	
	/* Clearfix for the .slides element */
	.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
	html[xmlns] .slides {display: block;} 
	* html .slides {height: 1%;}
	/* No JavaScript Fallback */
	/* If you are not using another script, such as Modernizr, make sure you
	 * include js that eliminates this class on page load */
	.no-js .slides > li:first-child {display: block;}
	/* FlexSlider Default Theme
	*********************************/
	

/* Teasers / Portfolio */

	h3.info { margin-bottom: 5px; margin-top: -5px; }
	.lightlabel { float: left; color: #ccc; width: 50px; }
	.infofield { float: left; }
	.teaser { margin-bottom: 20px; padding-bottom: 16px; background: #fff; border-bottom: 1px solid #ddd; -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
	.portfolio .nopadding { margin-bottom: 0px; }
	a.portfolio_selector { float: left; font-size: 11px; line-height: 20px; font-weight: normal; font-style: italic; color: #fff; background-color: #777; padding-left: 13px; padding-right: 13px; padding-top: 5px; padding-bottom: 5px; color: #fff; display: inline-block; border-bottom: 1px solid #444; text-shadow: 0px 1px 0px #444; }
	.portfolio_filter ul { float: left; margin: 0; padding: 0; margin-bottom: 10px; }
	.portfolio_filter ul li { margin: 0; padding: 0; float: left; list-style-type: none; display: inline-block; margin-right: 1px; margin-bottom: 1px; }
	.portfolio_filter ul li:first-child a.portfolio_selector { -moz-border-radius:3px 0 0 3px; -webkit-border-top-left-radius:3px; -webkit-border-bottom-left-radius:3px; border-top-left-radius:3px; border-bottom-left-radius:3px; }
	.portfolio_filter ul li:last-child a.portfolio_selector { -moz-border-radius:0 3px 3px 0; -webkit-border-top-right-radius:3px; -webkit-border-bottom-right-radius:3px; border-top-right-radius:3px; border-bottom-right-radius:3px; }
	.teasers img, .teasers_large img { float: left; }
	.teasers .topline, .teasers .subline { float: left; text-align: center; width:180px; padding-left: 20px; padding-right: 20px; }
	.teasers .topline { padding-top: 19px; border-top: 3px solid #ddd; }
	.teasers_large .topline, .teasers_large .subline { float: left; }
	.teaser .flexslider {  margin-bottom: 12px;  }
    .teaser .scalevid { margin-bottom: 1px; }
    .teaser .mediaitem { margin-bottom: 1px; }
	a .overlay { background: url(../images/tiles/linegrid.png) repeat 0 0 #a0c800; }
	a .overlaytext{ background: url(../images/tiles/cross.png) no-repeat; width: 51px; height: 51px; }
	/*a .overlaytext{ color: #fff; background-color:#000; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 4px; font-size: 11px; font-weight: normal; text-decoration: none; line-height: 21px; }*/
	
	#aao2013_tout{
		height: 20px;
		background-color: #a0c800;
		display: inline-block;
		position: relative;
		top: -20px;
		padding: 30px;
		width: 980px;
		font-size: 24px;
		text-align: center;
		color: #333;
		font-family: "MuseoSans500", sans-serif;
	}
	#aao2013_tout h2{
		font-size: 36px;
		margin: 0;
		padding: 0;
		color: #333333;
	}
	#aao2013_tout h2 span{
		font-size: 36px;
		margin: 0;
		padding: 0;
		color: white;
	}
	#aao2013_tout button{
		top: -5px;
		position: relative;
	}
	.pres{
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 10px;
		padding-left: 1px;
		padding-right: 10px;
	}
	.time{
		font-weight: bold;
	}
	.tab_title{
		color: #0070a0;
	}
	#callout {
		
		padding: 10px 20px 0px;
		color: white;
		
		background: #0070a0; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzBhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDk1ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #0070a0 0%, #0095d6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0070a0), color-stop(100%,#0095d6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #0070a0 0%,#0095d6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #0070a0 0%,#0095d6 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #0070a0 0%,#0095d6 100%); /* IE10+ */
		background: linear-gradient(to bottom, #0070a0 0%,#0095d6 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070a0', endColorstr='#0095d6',GradientType=0 ); /* IE6-8 */
		
		margin-bottom: 0;
		line-height: 20px;
	}
	#calloutBottom {
		background: #0095d6; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTVkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #0095d6 0%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0095d6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #0095d6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #0095d6 0%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #0095d6 0%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #0095d6 0%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095d6', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
		
		height: 50px;
	}
	
	#callout h4{
		color: white;
		font-weight: bold;
		/*text-transform: uppercase;*/
		line-height: 24px;
		margin-bottom: 5px;
	}
	
	#ascrsFeature{
		width: 700px;
		margin-top: -22px;
		display: inline-block;
	}
	#ascrsFeature #fvid{
		width: 500px;
		float: left;
		background-color: black;
		height: 281px;
	}
	#ascrsFeature #reg{
		width: 180px;
		float: left;
		font-size: 12px;
		height: 161px;
		padding: 110px 10px 10px;
		background: url(../images/frefBg.jpg) no-repeat #0070a0;
	}
	#ascrsFeature #reg input{
		width: 160px;
		height: 10px;
		padding: 5px;
		margin-bottom: 8px;
	}
	#ascrsFeature #reg .Register{
		height: 30px;
		width: 100px;
	}
	#atout1{
		width: 340px;
		padding-right: 2px;
		margin-right: 13px;
		float: left;
		padding-top: 130px;
		background: url(../images/atout1.jpg) repeat-x;
		font-size: 13px;
		line-height: 20px;
		margin-top: 5px;
	}
	#atout2{
		width: 340px;
		float: left;
		background: url(../images/atout2.jpg) repeat-x;
		padding-top: 130px;
		font-size: 13px;
		line-height: 20px;
		margin-top: 5px;
	}
	#atout1 button{
		margin-top: 10px;
	}
	#atout2 button{
		margin-top: 10px;
	}
	#printThis{
		text-align: center;
		float: left;
		margin-top: 10px;
	}
	#arFeature{
		font-size: 14px;
	}
	#arFeature td{
		border: 1px solid #dbdbdb;
		padding: 5px;
	}
	#arFeature h3{
		font-size: 18px;
		font-weight: bold;
		color: #0070a0;
		padding: 0;
		margin: 20px 0 0;
	}
	#ar_text{
		float: right;
		width: 540px;
		font-size: 14px;
		line-height: 20px;
		margin-top: 10px;
	}
/* Text Content */
	h8 {
		font-size: 8px;
		line-height: 8px;
	}
	.textblock { float: left; margin-bottom: -10px; margin-top: 20px;
		font-size: 16px;
		margin-left: 50px;
		line-height: 26px;
	}
	.textblock.right { float: right; }
	.textblocksidebar { margin-bottom: -10px; margin-top: 36px; }
	.textblocksidebar.right { float: right; }
	
/* From Blog */

	.fromblog { float: left; margin-bottom: 0px; }
	.topline { float: left; font-size: 12px; font-weight: bold; color: #000; line-height: 12px;  width: 180px; margin-top: -1px; }
	.topline a { color: #000; }
	.fromblog .topline {  }
	.subline { float: left; font-size: 11px; line-height: 16px; margin-top: 5px; color: #777; font-style: italic; width: 100%; }
	.subline a { color: #777; background-color: transparent; padding-bottom: 2px; padding-top: 2px; padding-left: 4px; padding-right: 4px; }
	.teasertext { float: left; margin-top: 10px; padding-left: 20px; padding-right: 20px; }
	.readmore { float: left; text-align: left;  padding-left: 20px; padding-right: 20px; padding-top: 17px; }
	
/* Media Item */

	.mediaitem { float: left; width: 220px; }
	

	.listovereffect { -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); }
	
/* Accordion */

	ul.accordion { display: inline; float: left; width: 100%; margin: 0; padding: 0; margin-bottom: 30px; }
	ul.accordion li.accordion-item { float: left; width: 100%; margin: 0; padding: 0; background: #eee; border: 1px solid #ddd; margin-top: -1px; }
	ul.accordion li.accordion-item.selected { background: #fff; }
	ul.accordion li.accordion-item.selected .toggleswitch { color: #333; font-weight: bold; }
	ul.accordion li.accordion-item .toggleswitch { cursor: pointer; margin: 0; padding-top: 15px; padding-left: 20px; padding-right: 20px; padding-bottom: 14px; font-size: 12px; color: #777; line-height: 18px;  }
	ul.accordion li.accordion-item .togglegfx { float: left; height: 15px; width: 15px; background: url('../images/tiles/expand.png') no-repeat left top; padding-right: 15px; margin-bottom: 11px; margin-top: 1px;  }
	ul.accordion li.accordion-item.selected .toggleswitch .togglegfx { background-position: left bottom; }
	ul.accordion li.accordion-item .togglecontent { margin: 0; padding-left: 20px; padding-right: 20px; }


/* Sidebar */

	.sidebar .widget { float: left; margin-bottom: 60px; width: 100%; }
	.sidebar { margin-bottom: -40px; }
	.sidebar .widget h5 { width: 100%; color: #777; font-size: 13px; line-height: 13px; font-weight: bold; margin-bottom: 29px; text-transform: uppercase; }
	.sidebar .widget ul li { margin-bottom: 2px; }
	.sidebar .widget ul { margin-bottom: 0; }
	
/* Footer */

	.footerwrap { width: 1040px; left: 50%; margin-left: -520px;
		padding: 0; padding-top: 0px; padding-bottom: 0px; margin-bottom: 0;
	background-color: #222A30;
	visibility: hidden;
	height: 0;
	overflow: hidden;
}
	.footerwrap.full { width: 100%; left: 0; background: #222222; margin: 0; padding: 0; padding-top: 0px; padding-bottom: 0px; margin-bottom: 0; }
	.subfooterwrap { width: 1040px; left: 50%; margin-left: -520px; background: #111; padding: 0; padding-top: 10px; padding-bottom: 10px; margin-bottom: 0; }
	.subfooterwrap.full { width: 100%; left: 0; background: #111; margin: 0; padding: 0; padding-top: 10px; padding-bottom: 10px; margin-bottom: 0; }
	.footer { width: 960px; margin: 0 auto; color: #888; }
	.subfooter { width: 960px; margin: 0 auto; color: #494949; font-size: 11px; line-height: 30px; }
	.footer	.subline { float: left; font-size: 11px; line-height: 11px; margin-top: 5px; color: #595959; }
	.footer .widget { padding-top: 30px; padding-bottom: 30px; }
	.footer .widget h5 { float: left; color: #fff; font-size: 13px; font-weight: bold; line-height: 13px; margin-bottom: 10px;  padding-top: 7px; text-transform: uppercase; }
	.footer strong { color: #ccc; }
	.footer .widget ul li { margin-bottom: 2px;
		float: left;
		width: 200px;
		padding-right: 20px;
	}
	.footer a, .footer a:visited { color: #ccc; }
	.subfooter a, .subfooter a:visited { color: #777; }
	.sitenav { text-align: right; float: right; }
	
	/*#subNav{
		font-size: 14px;
		margin-top: 30px;
	}
	#subNav a:hover{
		color: black;
	}*/
	#subNav{
		list-style: none;
		padding: 10px;
		width: 190px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background: -moz-linear-gradient(top, #20282D 2.4%, #252E34 51%, #222A30 100%) #20282D; /* old browsers */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.024, #20282D), color-stop(0.51, #252E34), to(#222A30)) #20282D; /* firefox */
		 /* webkit */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
		-moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
		-webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
		box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
		margin-top: 30px;
		margin-bottom: 20px;
	}
	#subNav li:hover{
		background: #5F6B72; /* old browsers */
		background: -moz-linear-gradient(top, #5F6B72 3%, #56646C 4%, #4D5A62 50%, #434D54 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#5F6B72), color-stop(4%,#56646C), color-stop(50%,#4D5A62), color-stop(100%,#434D54)); /* webkit */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5F6B72', endColorstr='#434D54',GradientType=0 ); /* ie */
		color: white;
	}
	#subNav li a:hover{
		color: white;
	}
	
	#subNav li{
	margin: 0 0 5px; 
	border-radius: 5px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #515B62; /* old browsers */
	background: -moz-linear-gradient(top, #515B62 3%, #444E55 5%, #394147 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#515B62), color-stop(5%,#444E55), color-stop(100%,#394147)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515B62', endColorstr='#394147',GradientType=0 ); /* ie */
	padding: 10px 5px;
	padding-left: 1em;
				text-indent: -1em;
	text-align: left;
}
	#subNav ul ul li{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 12px;
		line-height: 14px;
		background: none;
		margin-left: 0;
		padding: 5px;
		padding-left: 0em;
		text-indent: 0em;
	}
	#subNav ul ul li a{
		color: silver;
	}
	#subNav ul ul li a.onstate{
		color: white;
	}
	#subNav ul{
		margin-bottom: 0;
	}
	a.onstate{
		color: white;
	}
	
	#join_tout {
		background-image: url(../images/join_tout.png);
	}
	#smarter_tout {
		background-image: url(../images/smarter_tout.png);
	}
	#ar_tout {
		background-image: url(../images/ar_tout.png);
	}
	#mp_tout {
		background-image: url(../images/mp_tout.png);
	}
	.subtout{
		width: 210px;
		height: 140px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.subtout .button{
		margin-top: 100px;
		position: relative;
		display: inline-block;
	}
	.people {
		display: inline-block;
		background: url(../images/people_bg.jpg) no-repeat 0 top;
	}
	.people h4{
		margin: 5px 0 0;
	}
	.people h6{
		margin: 0 0 20px;
		color: #0070a0;
		font-style: italic;
	}
	.people p{
		font-size: 12px;
	}
	.people .pic{
		float: left;
		padding-right: 20px;
	}
	.people .bio{
		float: right;
		width: 560px;
	}
	
	.news {
		
		display: inline-block;
		margin-bottom: 0px;
		clear: left;
	}
	.news h4{
		font-size: 16px;
		margin-bottom: 0;
		margin-top: 20px;
		color: #0070a0;
		line-height: 18px;
	}
	.news h6{
		font-size: 18px;
		line-height: 25px;
	}
	.news .icon{
		float: left;
		padding-right: 20px;
	}
	.news .title{
		float: right;
		width: 560px;
	}
	#vids {
		width: 700px;
		height: 420px;
	}
	#vids2 {
		width: 550px;
		height: 310px;
	}
	#vids3 {
		width: 700px;
		height: 250px;
	}
	ul.jobber-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	ul.jobber-list li {
	margin-bottom: 5px;
	}
	
	.widget_social {
		display: inline-block;
	}
	#legal{
		padding: 50px;
	}
	#legal .style4{
		font-size: 10px;
		line-height: 14px;
	}
	#legal li{
		list-style-type: disc;
	}
	#legal li p{
		margin-top: 0;
		margin-bottom: 0;
	}
	.three_fourth li{
		list-style: disc;
		margin-left: 40px;
	}
	
	.three_fourth ul{
		margin-top: 10px;
	}
	#mcf li{
		list-style: disc;
		margin-left: 20px;
	}
	.mc-address-group .adlabel{
		padding-left: 25px;
	}
	

/* Widgets */	




	.widgetclass { float: left; width: 100%; }
	
	.widget_tweets ul { float: left; margin-bottom: 0px; width: 100%; }
	.widget_tweets ul li {
		vertical-align:top; list-style: none; margin-top: 0px;
		float: left;
	}
	.widget_tweets ul li:first-child { margin-top: 0px; }
	.widget_tweets .quot { float: left; font-size: 25px; font-weight: bold; margin-right: 5px; color: #333; margin-top: 4px; margin-bottom: -4px; }
	.sidebar .widget_tweets .quot { color: #ddd; }
	
	#search .searchform input { margin-bottom: 0;}
	
	
	
	.widget_quickcontact { float: left; width: 100%; }
	
	.widget_text { float: left; width: 100%; }

/* Mainmenu */	
	
	.ddsmoothmenu{ position: relative; float: right; margin: 0; z-index: 99; }
	.ddsmoothmenu ul{ z-index: 100; margin: 0; padding: 0; list-style-type: none; }
	.ddsmoothmenu ul ul{ padding-top: 0px; padding-bottom: 0px; -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
	/*Top level list items*/
	.ddsmoothmenu ul li{ position: relative; display: inline; float: left; line-height: 12px; background: transparent; }
	.ddsmoothmenu ul li ul li{ padding: 0; margin: 0; }
	.ddsmoothmenu ul ul ul{ border-bottom: 0; }
	/*Top level menu link items style*/
	.ddsmoothmenu ul li a{ display: block; text-decoration: none; padding-left: 20px; padding-right: 20px; padding-top: 48px; padding-bottom: 49px; }
	* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/ display: inline-block; }
	.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{ background: #111; color: #fff;  font-weight: bold; font-family: "MuseoSans500", sans-serif; font-size: 13px; line-height: 13px; }
	.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li.current-menu-item a, .ddsmoothmenu ul li.current-menu-ancestor a {  background: url(../images/navBG.jpg) repeat-x #353535; }
	/*.ddsmoothmenu ul li a.selected { background: #353535; -webkit-box-shadow: inset 0px -20px 15px -15px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0px -20px 15px -15px rgba(0, 0, 0, 0.4); box-shadow: inset 0px -20px 15px -15px rgba(0, 0, 0, 0.4); border-bottom: 3px solid #34b489;  }*/
	.ddsmoothmenu ul li a.selected { background: url(../images/navBG.jpg) repeat-x #353535; }
	.ddsmoothmenu ul li ul li a:link, .ddsmoothmenu ul li ul li a:visited{ background: #222A30; color: #fff; padding-left: 30px;  font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-bottom: 1px solid #111; }
	.ddsmoothmenu ul li ul li a:hover{
		background-color: #a0c800;
	}
	.ddsmoothmenu ul li span { float: left; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 11px; font-weight: normal; font-style: italic; color: #999; margin-top: 9px; }
	/*1st sub level menu*/
	.ddsmoothmenu ul li ul{ position: absolute; left: 0; display: none; visibility: hidden; }
    .ddsmoothmenu ul li.current-menu-item ul, .ddsmoothmenu ul li.current-menu-ancestor ul { margin-top: -3px; }
	/*Sub level menu list items (undo style from Top level List Items)*/
	.ddsmoothmenu ul li ul li{ display: list-item; float: none; padding-bottom: 0px;  }
	/*All subsequent sub menu levels vertical offset after 1st level sub menu */
	.ddsmoothmenu ul li ul li ul { padding: 0; margin-left: 0px; margin-top: 1px; }
    .ddsmoothmenu ul li.current-menu-item ul li ul, .ddsmoothmenu ul li.current-menu-ancestor ul li ul { margin-top: 0px; }
	/* Sub level menu links style */
	.ddsmoothmenu ul li ul li a{ width: 170px; /*width of sub menus*/ padding: 12px; padding-bottom: 13px; margin: 0; border-top-width: 0; margin-right: 0px; height: auto; border-bottom: 1px solid #111; border-top: 1px solid #333; }
	.ddsmoothmenu > ul > li > ul > li:last-child a { border-bottom: 0; }
	.ddsmoothmenu > ul > li > ul > li > ul li a { border-bottom: 1px solid #111 !important; }
	.ddsmoothmenu > ul > li > ul > li > ul > li:last-child a { border-bottom: 0 !important; }
	.ddsmoothmenu ul li ul li:first-child a { border-top: 0; }
	.ddsmoothmenu li li ul,
	.ddsmoothmenu li li li ul { margin: 0 0 0 0; }
	/* Holly Hack for IE \*/
	* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/
	/* CSS classes applied to down and right arrow images */
	.downarrowclass{  visibility: hidden; }
	.rightarrowclass{ visibility: hidden;}
	.dottedLine{
		background: url(../images/dot.png) repeat-x 1px;
		height: 6px;
		width: 100%;
		position: relative;
		display: inline-block;
		padding-bottom: 15px;
	}

	
/* Contact */

	.mapsholder { float: left; display: inline; width: 1040px; margin-left: -40px; border-bottom: 3px solid #ddd; margin-bottom: 20px;  }
	#googlemap { width: 100%; height: 300px; float: left; }
	#contactform input { float: left; width: 203px; margin-right: 10px; }
	#contactform input.last { margin-right: 0px; }		
	#contactform textarea { float: left; width: 438px; max-width: 438px; height: 200px; }
	.errormessage, .sendingmessage, .successmessage { float: left; color: #777; font-size: 12px; line-height: 30px; text-decoration: none; display: none; width: 100%; }
	.errormessage { color: #34b489; }
	input[type="text"].formerror, textarea.formerror { border: 1px solid #34b489; }
	
/* Content Shortcodes */
	
	.contentdivider { float: left; width: 100%; height: 0; border-bottom: 1px solid #ddd; margin-bottom: 30px; margin-top: 10px; }
	.one_half { width: 48%; }
	.one_third { width: 30.66%; }
	.two_third { width: 65.33%; }
	.one_fourth { width: 22%; }
	.three_fourth { width: 74%; }
	.one_fifth { width: 16.8%; }
	.one_sixth { width: 13.33%; }
	.one_half, .one_third, .three_fourth, .two_third, .one_fourth, .one_fifth, .one_sixth { margin-right: 4%; margin-bottom: 10px; float: left; }
	.lastcolumn { margin-right: 0!important; clear: right; }
	


	.content { padding-top: 20px; }
	.content.right { float: right; }
	.bottomTouts {
		visibility: hidden;
		height: 0px;
	}

/* #Respoonsive Queries */
	


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.bottomTouts {
			visibility: hidden;
		}
	}
	
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.bottomTouts {
			visibility: hidden;
			height: 0px;
		}
		.leftTouts {
			visibility: visible;
			height: 100%;
		}
		.dividerline { width: 748px; }
		.dividerlinehalf { width: 364px; }
		.footer, .subfooter { width: 768px; }
		#subNav {
			width: 160px;
		}
		.subtout{
			visibility: hidden;
		}
		.footer .widget ul li { margin-bottom: 2px;
			width: 300px;
			padding-right: 20px;
			padding-bottom: 10px;
		}
		.main { padding-bottom: 0px;
			width: 848px;
			background: none;
		}
		#aao2013_tout{
			height: 20px;
			background-color: #a0c800;
			display: inline-block;
			position: relative;
			top: -20px;
			padding: 30px;
			width: 788px;
			font-size: 24px;
			text-align: center;
			color: #333;
			font-family: "MuseoSans500", sans-serif;
		}
		.news .title{
			float: right;
			width: 430px;
		}
		#vids {
			width: 550px;
			height: 340px;
		}
		#vids2 {
			width: 550px;
			height: 310px;
		}
		#vids3 {
			width: 550px;
			height: 200px;
		}
		.widget input[type="text"], .widget input[type="password"], .widget input[type="email"], .widget textarea, .widget select {width: 150px;}
		.whitebackground, .headerline, .footerwrap, .subfooterwrap { width: 848px; margin-left: -424px;background}
		.pluswrap.half { width: 342px; }
		.ddsmoothmenu ul li a { padding-left: 10px; padding-right: 10px; }
		.ddsmoothmenu ul li span { 
			float: left;
			color: #999; margin-top: 9px;
			visibility: hidden;
			font: italic normal 11px/11px Arial, Helvetica, sans-serif;
			width: 10px;
		}
		
		.pagetitle {  width: 848px; }
		
		.pagetitleholder { width: 848px; }
		.homeslider, .mapsholder { width: 848px;
			float: right;
			height: 320px;
		}
		
		
		
		
		.teasers .topline, .teasers .subline { width:132px; }
		.mediaitem { width: 172px;}
		.textblock { float: left;
			font-size: 14px;
			line-height: 24px;
			margin: 20px 50px -10px;
			padding-left: 40px;
		}
		.dottedLine{
			background: none;
			
		}
		.three_fourth img {
			width: 100%;
		}
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.mainmenu {
			width: 350px;
			display: inline-block;
			position: relative;
			
			float: none;
		}
		.dottedLine{
			background: none;
			
		}
		.news .title{
			float: right;
			width: 300px;
		}
		#aao2013_tout{
			height: 20px;
			background-color: #a0c800;
			display: inline-block;
			position: relative;
			top: 0px;
			padding: 20px 20px 28px;
			width: 440px;
			font-size: 16px;
			text-align: center;
			color: #333;
			font-family: "MuseoSans500", sans-serif;
		}
		#aao2013_tout button{
			position: relative;
			top: 0;
		}
		#vids {
			width: 420px;
			height: 260px;
		}
		#vids2 {
			width: 420px;
			height: 240px;
		}
		#vids3 {
			width: 420px;
			height: 150px;
		}
		.one_fourth { width: 22%;
			visibility: hidden;
			height: 0;
		}
		.header {
			margin-right: auto;
			margin-left: auto;
			display: block;
			float: none;
			position: relative;
			height: 160px;
		}
		.three_fourth img {
			width: 100%;
		}
		#subNav{
			visibility: hidden;
			height: 0px;
		
		}
		.main { padding-bottom: 0px;
			width: 480px;
			background: none;
			
		}
		.bottomTouts {
			visibility: hidden;
			height: 0px;
			
		}
		.leftTouts {
			visibility: visible;
			height: 100%;
		}
		.pagetitle {  width: 648px;
			display: none;
		}
		.textblock { float: left;
			font-size: 14px;
			line-height: 24px;
			
			
			display: inline-block;
			position: relative;
			margin: 20px 20px 20px 30px;
			padding: 0;
		}
		.slidertext h6, .slidertext h5, .slidertext h4, .slidertext h3, .slidertext h2, .slidertext h1 { margin-top: 20px; } 
		.slidertext { margin-bottom: 20px; margin-top: 10px; height: auto; }
		
		.teaser { margin-bottom: 20px; text-align: left; }
		.teaser img{ width: 420px; }
		
		.footer .widget { margin-bottom: 52px; }
		
		.widget input[type="text"], .widget input[type="password"], .widget input[type="email"], .widget textarea, .widget select {width: 398px;}
		.footer .widget { padding-top: 0px; padding-bottom: 0px; }
		.footer .sixteen:first-child { padding-top: 60px; }
		.subfooter { text-align: center; }
		.subfooter .socialtext { width: 420px; text-align: center; margin-right: 0; }
		.one_half, .one_third, .two_third, .one_fourth, .one_fifth, .one_sixth { width: 100%; }
		
		#respond textarea, .fullblog #respond textarea { width: 398px; max-width: 398px; }
		#contactform input { width: 398px; max-width: 398px; margin-right: 0; }	
		#contactform textarea { width: 398px; max-width: 398px; }	
		.sidebar { margin-top: 10px; padding-top: 38px; border-top: 1px solid #ddd; }
		
        h3.info { margin-bottom: 5px; margin-top: 20px; }
        .postnav { margin-bottom: 12px; }
        #optionswrap { display: none; }
		ul.clients li img { width: 33%; }
		.toptextline, .titledivider, .readmore, .sidebar .widget h5 { text-align: center; }
		.footer .widget h5 { width: 100%; text-align: center; }
		.bottomadjust { padding-bottom: 60px; }
		.sitenav { text-align: center; }
		.whitebackground, .teaser { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
		.nosliderspacer { height: 0px; }
		.postbody { float: left; border-left: 0; padding-left: 0; }
        .sideview.fullblog .mediaitem { height: auto; }
        .sideview.fullblog.nodate .mediaitem { height: auto; }
        .mapsholder { margin-bottom: 0; }
        .footer .widget ul li { margin-bottom: 2px;
        	width: 100%;
        	padding-right: 20px;
        	padding-bottom: 10px;
        }
        .widget_social{
        	display: block;
			margin: auto;
			float: none;
			text-align: center;
		}
		
        
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#subNav{
			visibility: hidden;
			height: 0px;
		}
		.bottomTouts {
			visibility: visible;
			height: 100%;
		}
		.leftTouts{
			visibility: hidden;
			height: 0px;
		}
		
		#vids {
			width: 420px;
			height: 260px;
		}
		#vids2 {
			width: 420px;
			height: 240px;
		}
		#vids3 {
			width: 420px;
			height: 150px;
		}
		
    	.logo { width: 420px; background-position: center; }
		.dividerline, .dividerlinehalf { width: 420px; }
		.pagetitle {  width: 480px; margin-left: -30px; padding-top: 10px; padding-bottom: 0px; }
		.pagetitle h1 { width: 420px; text-align: center; margin-left: 0px; }
		.pagetitleholder { width: 420px; padding-left: 20px; padding-right: 20px; }
		.socialholder { width: 100%; text-align: center; padding: 0; }
		.socialicons { float: none; margin: 0 auto; width: 274px; }
		.homeslider, .mapsholder { width: 480px; margin-left: 0px;
			display: inline-block;
			margin-right: 0;
			padding-right: 0;
			padding-left: 0;
			position: relative;
			top: 20px;
		}
		.teasers .topline, .teasers .subline { width: 380px; }
		.mediaitem, .blogimage .mediaitem { width: 420px;}
		.portfolio4column .teaser .scalevid { width: 420px; }
		.whitebackground, .headerline, .footerwrap, .subfooterwrap { width: 480px; margin-left: -240px;}
		.footer, .subfooter { width: 420px; }
		.pricing.fivecols .pricecol ul { width: 50%; }
		.pricing.fourcols .pricecol ul { width: 50%; }
		.pricing.threecols .pricecol ul { width: 50%; }
		.postholder, .fullblog .postholder, .fullblog .blogimage .mediaitem { width: 420px; }
		.nodate .postholder, .nodate .blogimage .mediaitem { width: 420px; }
		.nodate.fullblog .postholder, .nodate.fullblog .blogimage .mediaitem { width: 420px; }
		.sideview.nodate.fullblog .blogimage { width: 420px; }
		.sideview.nodate.fullblog .postbody { width: 420px; }
		.sideview.fullblog .blogimage { width: 420px; }
		.sideview.fullblog .postbody { width: 420px; }
		.sideview.fullblog .blogimage .mediaitem { width: 420px; }
		.sideview.fullblog.nodate .blogimage .mediaitem { width: 420px; }
		.sideview .blogimage { margin-bottom: 14px; }
        .sideview.fullblog .blogtitle { float: right; width: 420px; }
        .sideview.fullblog .postinfo { float: right; width: 420px; }
        .sideview.fullblog.nodate .blogtitle { float: right; width: 420px; }
        .sideview.fullblog.nodate .postinfo { float: right; width: 420px; }
        .footer .widget ul li { margin-bottom: 2px;
        	width: 100%;
        	padding-right: 20px;
        	padding-bottom: 10px;
        }
        .widget_social{
       		 display: block;
        	margin: auto;
        	float: none;
        	text-align: center;
        }
        .three_fourth { width: 100%; }
        .mainmenu {
        	width: 420px;
        	display: inline-block;
        	position: relative;
        	
        	float: none;
        }
        
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#subNav{
			visibility: hidden;
			height: 0px;
		}
		.bottomTouts {
			visibility: visible;
			height: 100%;
		}
		.leftTouts{
			visibility: hidden;
			height: 0px;
		}
		.main { padding-bottom: 0px;
			width: 360px;
			background: none;
			
		}
		.mainmenu {
			width: 300px;
			display: inline-block;
			position: relative;
			
			float: none;
		}
		#aao2013_tout{
			height: 40px;
			background-color: #a0c800;
			display: inline-block;
			position: relative;
			top: 0px;
			padding: 10px 20px 30px;
			width: 320px;
			font: 18px/28px "MuseoSans500", sans-serif;
			text-align: center;
			color: #333;
		}
		#aao2013_tout button{
			position: relative;
			top: 0;
		}
		#vids {
			width: 300px;
			height: 180px;
		}
		#vids2 {
			width: 300px;
			height: 170px;
		}
		#vids3 {
			width: 300px;
			height: 100px;
		}
    	.logo { width: 300px; background-position: center; }
		.dividerline, .dividerlinehalf { width: 300px; }
		.teasers img, .teasers_large img { width: 300px; }
		.widget_blogposts .postlink { width: 240px; }
		.widget_blogposts .subline { width: 240px; }
		.widget input[type="text"], .widget input[type="password"], .widget input[type="email"], .widget textarea, .widget select {width: 278px;}
		.subfooter { text-align: center; }
		.subfooter .socialtext { width: 320px; text-align: center; margin-right: 0; }
		#respond textarea, .fullblog #respond textarea { width: 278px; max-width: 278px; }
		#respond input, .fullblog #respond input { width: 278px; max-width: 278px; margin-right: 0; }	
		#respond input.last, .fullblog #respond input.last { width: 278px; max-width: 278px; margin-right: 0; } 
		#contactform input { width: 278px; max-width: 278px; margin-right: 0; }	
		#contactform textarea { width: 278px; max-width: 278px; }	
		.newsteaser { margin-bottom: 20px; }
		.newsteaser .topline, .newsteaser .subline, .newsexcerpt { width: 205px; }
        
		ul.clients li img { width: 49.6%; }
		.mediaitem, .blogimage .mediaitem { width: 300px; }
		.pagetitle {  width: 360px; margin-left: -30px; padding-top: 10px; padding-bottom: 0px; }
		.pagetitle h1 { width: 300px; text-align: center; margin-left: 0px;
			font-size: 18px;
			line-height: 24px;
		}
		.pagetitleholder { width: 300px; padding-left: 20px; padding-right: 20px; }
		.socialholder { width: 100%; text-align: center; padding: 0; }
		.socialicons { float: none; margin: 0 auto; width: 274px; }
		.homeslider, .mapsholder { width: 360px; margin-left: 0px;
			display: inline-block;
			margin-right: 0;
			padding-right: 0;
			padding-left: 0;
			position: relative;
			top: 20px;
		}
		.teasers .topline, .teasers .subline { width: 260px; }
		.portfolio4column .teaser .scalevid { width: 300px; }
		.whitebackground, .headerline, .footerwrap, .subfooterwrap { width: 360px; margin-left: -180px;}
		.footer, .subfooter { width: 300px; }
		
		.postholder, .fullblog .postholder, .fullblog .blogimage .mediaitem { width: 300px; }
		.nodate .postholder, .nodate .blogimage .mediaitem { width: 300px; }
		.nodate.fullblog .postholder, .nodate.fullblog .blogimage .mediaitem { width: 300px; }
		.sideview.nodate.fullblog .blogimage { width: 300px; }
		.sideview.nodate.fullblog .postbody { width: 300px; }
		.sideview.fullblog .blogimage { width: 300px; }
		.sideview.fullblog .postbody { width: 300px; }
		.sideview.fullblog .blogimage .mediaitem { width: 300px; }
		.sideview.fullblog.nodate .blogimage .mediaitem { width: 300px; }
		.sideview .blogimage { margin-bottom: 14px; }
        .sideview.fullblog .blogtitle { float: right; width: 300px; }
        .sideview.fullblog .postinfo { float: right; width: 300px; }
        .sideview.fullblog.nodate .blogtitle { float: right; width: 300px; }
        .sideview.fullblog.nodate .postinfo { float: right; width: 300px; }
        .footer .widget ul li { margin-bottom: 2px;
        	width: 100%;
        	padding-right: 20px;
        	padding-bottom: 10px;
        }
        .widget_social{
        	display: block;
        	margin: auto;
        	float: none;
        	text-align: center;
        }
        .three_fourth { width: 100%; }
	}
	
	@media print { 
	/*@media only screen and (max-width: 959px) {*/
		.header{
			height: 0;
		}
		.logo {
			visibility: hidden;
			height: 0;
		}
		#subNav{
			visibility: hidden;
			height: 0px;
		}
		.bottomTouts {
			visibility: visible;
			height: 100%;
		}
		.leftTouts{
			visibility: hidden;
			height: 0px;
		}
		
		
		.ddsmoothmenu {
			visibility: hidden;
			height: 0px;
			width: 0px;
			display: inline-block;
			position: relative;
			
			float: none;
		}
		.mainmenu {
			visibility: hidden;
			height: 0px;
			width: 0px;
			display: inline-block;
			position: relative;
			
			float: none;
			overflow: hidden;
		}
		#vids {
			width: 300px;
			height: 0px;
			visibility: hidden;
		}
		#vids2 {
			width: 300px;
			height: 0px;
			visibility: hidden;
		}
		#vids3 {
			width: 300px;
			height: 0px;
			visibility: hidden;
		}
		
		#legal{
			margin: 0;
			padding: 0;
		}
		.textblock { 
			float: left;
			font-size: 14px;
			line-height: 24px;
			margin: 0;
			padding: 0;
			width: 700px;
		}
		.container{
			margin: 0;
			padding: 0;
			float: left;
			display: inline-block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
		}
		.main {
			background: none;
			margin: 0;
			padding: 0;
			display: inline-block;
			width: 700px;
		}
		.logo { width: 300px; background-position: center; }
		.dividerline, .dividerlinehalf { width: 300px; }
		.teasers img, .teasers_large img { width: 300px; }
		.widget_blogposts .postlink { width: 240px; }
		.widget_blogposts .subline { width: 240px; }
		.widget input[type="text"], .widget input[type="password"], .widget input[type="email"], .widget textarea, .widget select {width: 278px;}
		.subfooter { text-align: center; }
		.subfooter .socialtext { width: 320px; text-align: center; margin-right: 0; }
		#respond textarea, .fullblog #respond textarea { width: 278px; max-width: 278px; }
		#respond input, .fullblog #respond input { width: 278px; max-width: 278px; margin-right: 0; }	
		#respond input.last, .fullblog #respond input.last { width: 278px; max-width: 278px; margin-right: 0; } 
		#contactform input { width: 278px; max-width: 278px; margin-right: 0; }	
		#contactform textarea { width: 278px; max-width: 278px; }	
		.newsteaser { margin-bottom: 20px; }
		.newsteaser .topline, .newsteaser .subline, .newsexcerpt { width: 205px; }
		
		ul.clients li img { width: 49.6%; }
		.mediaitem, .blogimage .mediaitem { width: 300px; }
		.pagetitle {  width: 360px; margin-left: -30px; padding-top: 10px; padding-bottom: 0px;
			height: 0;
			visibility: hidden;
		}
		.pagetitle h1 { width: 300px; text-align: center; margin-left: 0px;
			font-size: 18px;
			line-height: 24px;
			margin-right: 0;
		}
		.pagetitleholder { width: 300px; padding-left: 20px; padding-right: 20px;
			height: 0;
		}
		.socialholder { width: 100%; text-align: center; padding: 0; }
		.socialicons { float: none; margin: 0 auto; width: 274px; }
		.homeslider, .mapsholder { width: 360px; margin-left: 0px;
			display: inline-block;
			margin-right: 0;
			padding-right: 0;
			padding-left: 0;
			position: relative;
			top: 20px;
		}
		.footer {
			width: 800px;
		}
		.widget_social{
			display: block;
			margin: auto;
			float: none;
			text-align: center;
		}
		.three_fourth { width: 700px }
		.one_fourth {
			height: 0;
		}
		.one_third {
			width: 200px;
		}
		#slider {
			width: 700px;
			
		}
	
	}
	
	
/* Responsive Menu
================================================== */
	
	#mainmenu { visibility: visible; } 
	#responsive-menu{ display: none; float: left; }

	@media only screen and (max-width: 767px) {
		#mainmenu { visibility: hidden; height: 0;
			display: block;
		
		} 
		#responsive-menu { display: inline-block; width: 100%; margin-top: 25px;
			position: relative;
			height: 60px;
			visibility: visible;
		}			  
	}




.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}


img.size-auto,
img.size-large,
img.size-full,
img.size-medium {
	max-width: 100%;
	height: auto;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
	margin-top: 0px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
	margin-top: 0px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 20px;
}

.bypostauthor {}
.sticky{}
.gallery-caption{}




/* Preview Only Styles */

#optionswrap {
	position: fixed;
	z-index: 90;
	left: -117px;
	top: 180px;
	width: 75px;
	height: 248px;
	background: #eee;
	border: 1px solid #ccc;
	padding: 20px;
	-moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
#optionsbtn {
	position: absolute;
	width: 30px;
	height: 92px;
	left: 115px;
    top: 0;
    margin-top: -1px;
	background: url(../images/options.png) center;
	cursor: pointer;
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.hiddenpat {
	width:0px;
	height:0px;
	display:none;
}
.optext {
	font-size: 15px;
    font-family: "MuseoSans500", sans-serif;
    text-align: center;
    color: #777;
	float: left;
	width: 75px;
	margin-bottom: 5px;
    margin-top: -7px;
}
.opt1, .opt2, .opt3 {
	float: left;
    width: 75px;
    height: 70px;
    cursor: pointer;
}
.opt1 {
	background: url(../images/layout_footer.jpg) center;
    margin-bottom: 10px;
}
.opt2 {
	background: url(../images/layout_full.jpg) center;
}
.opt3 {
	background: url(../images/layout_column.jpg) center;
    margin-bottom: 10px;
}
.opt1.selected, .opt2.selected, .opt3.selected {
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    cursor: default;
}